<%= form_for(@idea) do |f| %>
  <%= render 'shared/errors', :object => @idea %>
  <div class="field">
    <%= f.text_field :description, placeholder: 'Add a new aha! here', size: 50 %>
  </div>
<% end %>
